[submodule "deployments/matrix/matrix-docker-ansible-deploy"]
	path = playbooks/matrix_dera_page
	url = https://github.com/spantaleev/matrix-docker-ansible-deploy.git
[submodule "Infrastructure_vault"]
	path = vault
	url = https://github.com/AlixANNERAUD/Infrastructure_vault.git
