storage:
  type: postgres
  path: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"

ui:
  title: "Tableau de bord | Dera.page"
  description: "Tableau de bord des services souverain Dera.page"
  header: "Tableau de bord"
  logo: ""
  default-sort-by: group

endpoints:
  - name: Stotra
    group: Services
    url: "https://stotra.dera.page/api/user/leaderboard"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: Element
    group: Services
    url: "https://element.insa.lol"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: Bible
    group: Services
    url: "https://yves.dera.page"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: Genda
    group: Services
    url: "https://genda.dera.page"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: Pixel war
    group: Services
    url: "https://pixelwar.insa.lol"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: Umami
    group: Services
    url: "https://s.dera.page/api/heartbeat"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"
      - "[BODY] == pat(*ok*)"

  - name: Auth
    group: Infrastructure
    url: "https://auth.dera.page"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: Wakapi
    group: Services
    url: "https://wakapi.dera.page/api/health"
    interval: 10m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"
      - "[BODY] == pat(*app=1*)"
      - "[BODY] == pat(*db=1*)"

  - name: NUC (Simon)
    url: "icmp://simon1.dera.page"
    group: Infrastructure
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Dimitri
    group: Infrastructure
    url: "http://dimitri1.dera.page/"
    interval: 1m
    conditions:
      - "[STATUS] == 404"

  - name: Bruxelles (Alix)
    url: "icmp://local.bruxelles.anneraud.fr"
    group: Infrastructure
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Luxembourg (Alix)
    url: "icmp://local.luxembourg.anneraud.fr"
    group: Infrastructure
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Partage
    group: École
    url: "https://partage.insa-rouen.fr"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: Moodle
    group: École
    url: "https://moodle.insa-rouen.fr"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"
