services:
  wakapi:
    image: ghcr.io/muety/wakapi:2.17
    init: true
    ports:
      - ${WAKAPI_PORT}:3000
    restart: unless-stopped
    environment:
      # See README.md and config.default.yml for all config options
      WAKAPI_DB_TYPE: "postgres"
      WAKAPI_DB_NAME: "wakapi"
      WAKAPI_DB_USER: ${DATABASE_USER}
      WAKAPI_DB_HOST: "database"
      WAKAPI_DB_PORT: "5432"
      WAKAPI_DB_PASSWORD: ${DATABASE_PASSWORD}
      WAKAPI_PASSWORD_SALT: ${WAKAPI_PASSWORD_SALT}
      WAKAPI_MAIL_SMTP_PASS: ${WAKAPI_MAIL_SMTP_PASS}
      WAKAPI_ALLOW_SIGNUP: "false"
      WAKAPI_TRUST_REVERSE_PROXY_IPS: ${WAKAPI_TRUST_REVERSE_PROXY_IPS}
      WAKAPI_PUBLIC_URL: ${WAKAPI_PUBLIC_URL}

  database:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: "wakapi"
    volumes:
      - ./Postgres_data:/var/lib/postgresql/data

  pgbackups:
    image: prodrigestivill/postgres-backup-local
    restart: always
    #user: postgres:postgres # Optional: see below
    volumes:
      - ./Postgres_backup:/backups
    depends_on:
      - database
    environment:
      - POSTGRES_HOST=database
      - POSTGRES_DB=wakapi
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      #  - POSTGRES_PASSWORD_FILE=/run/secrets/db_password <-- alternative for POSTGRES_PASSWORD (to use with docker secrets)
      - POSTGRES_EXTRA_OPTS=-Z1 --schema=public --blobs
      - SCHEDULE=@daily
      - BACKUP_ON_START=TRUE
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6
      - HEALTHCHECK_PORT=8080
